<h1>Clientes</h1>
  <%= link_to 'Cadastrar Clientes', new_client_path %><br>
<% if @clients.empty? %>
  <p> Não há clientes cadastrados </p>
<% else %>
  <% @clients.each do |client| %>
    <div>
      <dl>
        <dt>Nome: </dt>
        <dd><%= link_to client.name, client_path(client) %></dd>
        <dt>Endereço: </dt>
        <dd><%= client.address %>, <%= client.city %> - <%= client.state %><br></dd>
      </dl>
    </div>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>