<h1>Clientes</h1>
  <%= link_to 'Cadastrar Clientes', new_client_path %><br>
<% if @clients.empty? %>
  <p> Não há clientes cadastrados </p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %> 
        <tr>
          <td><%= link_to client.name, client_path(client) %></td>
          <td><%= client.address %>, <%= client.city %> - <%= client.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Voltar', root_path %>