<h1>Detalhes - <%= @order.reference_number %></h1>

<div>
  <dl>
    <dt><strong>Número de Referencia: </strong></dt>
    <dd><%= @order.reference_number %></dd>
    <dt><strong>Valor: </strong></dt>
    <dd><%= @order.value %></dd>
    <dt><strong>Cliente: </strong></dt>
    <dd><%= Client.find(@order.client_id).name %></dd>
    <dt><strong>Status: </strong></dt>
    <dd><%= @order.status %></dd>
    <dt><strong>Data de Pagamento: </strong></dt>
    <dd><%= I18n.localize(@order.payment_date) %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt><strong>Produtos </strong></dt>
    <% OrderProduct.where(order_id: @order.id).each do |product| %>
      <dd><%= Product.find_by(id: product.product_id).name %> - R$ <%= Product.find_by(id: product.product_id).value%></dd>
    <% end %>
</div>

<div>
  <%= button_to 'Deletar', order_path(@order), method: :delete %>
</div>
<div>
  <%= link_to 'Editar', edit_order_path(@order) %>
</div>
<div>
  <%= link_to 'Voltar', orders_path %>
</div>