<%= form_with(model: @product, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
   <div>
    <%= f.label :value %>
    <%= f.number_field :value, step: '0.01' %>
  </div>
  <div>
    <%= f.label :base_value %>
    <%= f.number_field :base_value, step: '0.01'  %>
  </div>
  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name%>
  </div>
  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>