<!DOCTYPE html>
<html>
  <head>
    <title>AcmeCommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <nav>
        <% if user_signed_in? %>
          <%= current_user.email %> |
          <%= link_to 'Clientes', clients_path %> |
          <%= link_to 'Categorias de Produtos', categories_path %> |
          <%= link_to 'Ver Produtos', products_path %> |
          <%= link_to 'Ordens', orders_path %> |
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav> 
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
